.main-menu{
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    padding: 0;
}

.main-menu li{
    list-style: none;
    margin: 5px;
}

.main-menu li a{
    text-decoration: none;
    color: #000;
    background: #afafaf;
    padding: 10px;
}